


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiImKaan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainer {
    display: flex;
}

