.flexContainer {
    display: flex;
}

.selectionSidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 11%;
    top: 0;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectionSidebar a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px; /* Adjust the margin-bottom value to control spacing */
}

@media (max-width: 768px) {
    .selectionSidebar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        flex-direction: row;
        align-items: center;
        height: 100px;
        justify-content: space-between;
        font-size: smaller;
        padding-left: 10%;
        padding-right: 10%;

    }
    
}

